.contents
  .contents__header
    .contents__header--current-group
      %h2.current-group__name
        test
      %ul.current-group__list
        list: me you
    = link_to "Edit", "/groups/1/edit", class: 'btn btn-edit'
  .contents__main
    .messages
      .message
        .message__info
          .message__info--user
            user
          .message__info--date
            2020/06/28(Fri) 16:57:11
        .message__text
          hi
      .message
        .message__info
          .message__info--user
            user
          .message__info--date
            2020/06/28(Fri) 16:57:13
        .message__text
          uu
  .contents__form
    .new-message
      = form_tag "#",class: 'input-box' ,:method => :post do
        %input.input-box__text{:placeholder => "type a message" ,:type => "text"}
        %label.image-label
          %i.fa.fa-image
          %input.image-label__input{:type => "file"}
      = button_tag "Send", :type => "submit", :value => :send, class: 'btn new-message__btn-send'

= render 'shared/side_bar'