.Header{
  height: 100px;
  position: fixed;
  width: 100%;
  &__left{
    background-color: #253141;
    width: 300px;
    height: 100%;
    &--user-name{
      font-size: 16px;
      color: #FFFFFF;
      font-weight: bold;
      align-items: center;
    }
  }
}

.Contents{
  height: calc(100% - 100px);
  padding-top: 100px;
  width: 100%;
  &__main{
    background-color: #fafafa;
    height: 100%;
    width: calc(100% - 300px);
    float: right;
    position: relative;
    &--bottom{
      height: 90px;
      background-color: #DDDDDD;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  &__left{
    background-color: #2f3e51;
    height: 100%;
    width: 300px;
    float: left;
  }
}



